
body{
background-image: url(images/353239.jpg);
    
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 600px;
    padding-right: 40px;
    
    font-size: 30px;
    color: rgba(34, 14, 25, 0.69);
    border: 0px;
    
        background-size: cover;
    
}

#login{
    
  color: rgba(34, 14, 25, 0.69);
    text-decoration: none;
    margin-left: 25px;
    
}

#usernameinput{
    
background-color: #ff00ea;
  border-radius: 30px;  
    font-size: 20px;
    margin-left: 25px;
}


#passwordinput{
    
    background-color: #ff00ea;
  border-radius: 30px;  
    font-size: 20px;
     margin-left: 25px;
}

#output{
    color: aliceblue;
}

.glass-container{
  width: 350px;
height:400px;
position:relative;
z-index: 1;
background: rgba(255, 255, 255, 0.1);
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
border-radius: 10px;
border: 1px solid #fff;

}

.glass-container::before{
  content: '';
  position:absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: -1;
}

p{
  margin-left: 12px;
}